body {
    padding: 0;
    margin: 0;
    font-family: 'Tilt Neon', cursive;
}

header {
    height: auto;
    width: auto;
    background-image: url("images/buger.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    color: #fff;
    
}

#header-styling {
    margin-top: 0;
    box-sizing: border-box;
    padding: 70px;
    width: 660px;
    margin: 0 auto;
    padding-bottom: 100px;
   
}

header h1 {
    margin: 0;
}

header h3 {
    margin: 0;
}

.container {
    width: 600px;
    padding: 30px;
    /* border: 1px solid green; */
    margin: 0 auto;
    margin-top: 20px;
    border-bottom: 2px solid #D2D2D2;
}

.menu-div {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.food-emoji {
    /* border: 1px solid black; */
    font-size: 80px;
}

.food-name, .food-ingredients, .food-price, .food-emoji  {
    /* border: 1px solid black; */
    margin: 0;

}

.food-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shop-item-btn-container {
    margin: 10px 10px auto auto;
    display: flex;
    
}

.shop-food-item-btn:hover {
    background-color: #16DB99;
    color: #fff;
}

.shop-food-item-btn {
    margin: auto;
    font-weight: bold;
    font-size: 30px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid #D2D2D2;
}

.your-order-section {
    display: none;
    /* border: 1px solid black; */
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}

.your-order-section h3, .total-price-data h3 {
    margin-top: 0;
}

.your-order-section p {
    margin-top: 4px;
}

.order-section-header {
    margin-top: 0;
    text-align: center;
}

.order-data {
    /* border: 1px solid black; */
    display: flex;
    gap: 15px;
    margin-bottom: 2px solid #393333;
}

.order-price {
    margin: 0 0 auto auto;
}

.remove-item-link {
    color: #BBBBBB;
    font-size: 12px;
}

.total-price-data {
    /* border: 1px solid black; */
    display: flex;
}

.order-price-sum {
    margin: 0 0 auto auto;
}

.complete-order-btn {
    background-color: #16DB99;
    color: #fff;
    width: 600px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 100px;
    border-radius: 5px;
    border: none;
}

.payment-container {
    /* border: 1px solid black; */
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 600px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    margin-top: 100px;
    background-color: #fff;
}

.payment-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.form-inputs {
    padding: 15px;
    width: 600px;
    border: 2px solid #757575;
    font-size: 16px;
    border-radius: 5px;
    color: #757575;
}

.pay-btn {
    background-color: #16DB99;
    color: #fff;
    width: 630px;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.payment-header {
    font-size: 30px;
    background-color: #fff;
    margin-top: 0;
}

.thank-you-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin: auto;
    padding: 30px;
    color: #065F46;
    background-color: #ECFDF5;
    width: 600px;
    height: 200px;
    vertical-align: middle;
}

.thanks-message {
    font-weight: bold;
    font-size: 40px;
    padding: 50px;
}